.header {
  position: fixed;
  z-index: 1500;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--theme-primary);
  box-shadow: 0 6px 11px rgb(64 68 77 / 35%);
  padding: 7px 0;
  transition: all 0.5s;
  z-index: 997;
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    ul {
      align-items: center;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      @media (max-width: 991px) {
        display: none;
      }
      li {
        position: relative;
        a {
          align-items: center;
          color: var(--color-text-primary);
          display: flex;
          font-size: 16px;
          font-weight: 400;
          justify-content: space-between;
          padding: 10px 0 10px 30px;
          transition: 0.3s;
          white-space: nowrap;
          text-decoration: none;
        }
      }
    }
  }

  .navbarMobile {
    background: var(--color-background-blur);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.3s;
    z-index: 1;
    ul {
      background-color: var(--color-background-primary);
      border-radius: 8px;
      bottom: 70px;
      display: block;
      left: 15px;
      overflow-y: auto;
      padding: 10px 0;
      position: absolute;
      right: 15px;
      top: 14px;
      transition: 0.3s;
    }
  }
}

.container {
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.logo {
  img {
    margin: 0;
    max-height: 40px;
    padding: 0;
  }
}

.toggleNavigation {
  // position: absolute;
  // right: 15px;
  // top: 15px;
  // width: 30px;
  color: var(--color-background-primary);
  cursor: pointer;
  display: none;
  font-size: 28px;
  line-height: 0;
  transition: 0.5s;
  .close {
    position: absolute;
    right: 25px;
    top: 25px;
  }
  @media (max-width: 991px) {
    display: block;
  }
}
.userMenu {
  ul {
    list-style: none;
    display: flex;
    position: fixed !important;
    z-index: 5;
    justify-content: center;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    padding: 16px 0;
    background-color: #fff;
    box-shadow: 0 4px 32pxrgba (64, 68, 77, 0.08);
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
   
  }
}
.buttonAccount {
  background: var(--color-background-tertiary);
  border-radius: 2.625rem;
  padding: 0.5rem 20px ;
  align-items: center;
  color: var(--color-text-secondary);
}
