.header {
  background-color: var(--color-white);
  width: 100%;
  height: var(--header-height);
  box-shadow: 0 0 1px 1px rgba(227, 227, 227, 0.699);
  z-index: 100;
  position: sticky;
  top: 0;
  font-size: 0.96rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  gap: 10px;

  font-size: 1.4rem;
  font-weight: 500;
  img {
    width: fit-content;
    height: 100%;
    object-fit: contain;
  }
}

.avataUser {
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px var(--color-text-gray);
  border-radius: 20px;
  margin: 0 20px;
}
.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: 400;
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
  }
  .activeLink {
    color: var(--color-main);
  }
  .unActiveLink {
    color: black;
  }
}
.btnSignInUp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.btnSignIn {
  cursor: pointer;
}
.btnSignUp {
  padding: 8px 30px;
  background-color: var(--color-main);
  color: var(--color-white);
  border-radius: 100rem;
  font-weight: 600;
  cursor: pointer;
}
.header .menuBox {
  position: absolute;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(var(--header-height));
  width: 100%;
  background-color: var(--color-white);
  transition: height 0.2s ease-in;

  &.activeMenu {
    display: block;
    transition: height 0.17s ease-in;
    bottom: 0;
    height: var(--max-HeightListBar);
    z-index: 99;
  }
}
.activeChevron {
  transform: rotate(180deg);
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 0 1px gray;
  padding: 5px 20px;
  border-radius: 20px;
  & input {
    width: 0px;
    transition: all ease-in 0.2s;
    &::placeholder {
      font-size: 0.8rem;
    }
  }
  &:hover {
    cursor: pointer;
    gap: 5px;
    & input {
      transition: all ease-in-out 0.2s;
      width: 130px;
    }
  }
}
