@use '../../styles/abtracts/mixins' as *;

.footer {
  width: 100%;
  min-height: var(--footer-height);
  background-color: #092540;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 40px;
}
.footerContent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.teamContact {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0.8;

  .logo {
    width: 130px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .contactBy {
    display: flex;
    flex-direction: column;
    .itemContact {
      gap: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
.groupLinks {
  flex: 8;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.titleLink {
  flex: 1;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px 0;
  @include sm {
    justify-content: flex-start;
  }
}
.itemLink {
  flex-basis: 20%;
  min-width: 180px;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  & a {
    display: block;
    opacity: 0.8;
    color: inherit;
    &:hover {
      opacity: 1;
    }
  }
}

.license {
  margin: 20px 0;
}
