:root {
  --color-main: #3a57e8;
  --color-main-80: #3a57e8d0;
  --color-button-main: #ff6b39;
  --color-text-gray: #8a92a6;
  --color-white: #ffffff;
  --theme-primary: linear-gradient(54deg,#0059fa 17%,#ecf6fe 26%,#f4faff 80%);
  
  --header-height: 50px;
  --footer-height: 30px;

  --width-navigation: 200px;

  --title-size: 5rem;
  --blue-color: #3fd0d4;

  --toastify-toast-min-height: 30px;
  --toastify-toast-max-height: 100px;

  --color-text-primary: #000;
  --color-text-secondary: #ffffff;
  --color-text-active: #0259fa!important;
  --color-background-primary: #ffffff;
  --color-background-blur: rgba(9,9,9,.9);
  --color-background-tertiary: #ff7a1a;
  --theme-lineheight-primary: 1.5;

  --font-family-primary: Open Sans,sans-serif;
}

