:root {
  --color-main: #ff7a1a;
  --color-button-main: #ff6b39;
  --color-text-gray: #8a92a6;
  --color-white: #ffffff;
  --color-blue: #5959ff;
  --color-main-80: #ff7a1a;
  --color-puple-20: #9d90f536;
  --color-blue-20: #195afe1a;
  --color-gray-20: #f7f7f8;

  --header-height: 70px;
  --footer-height: 60vh;
  --max-HeightListBar: 0;
  --width-navigation: 200px;

  --title-size: 5rem;

  --toastify-toast-min-height: 30px;
  --toastify-toast-max-height: 100px;
}
